@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  max-width: 1440px;
  margin-inline: auto;
}

.learn-ring::before {
  content: "";
  position: absolute;
  border-radius: 67% 33% 67% 33% / 66% 30% 70% 34%;
  padding: 2px; /* Same as the border width */
  background: linear-gradient(180deg, rgba(238,232,44,1) 0%, rgba(0,0,0,0) 90%);;

  /* clip excess color than border */
  mask:
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask:
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  mask-composite: exclude;
  transform: rotate(-5deg);
  width: 8rem;
  height: 3rem;
  top: 0px;
  left: -10px;
}

@media (min-width: 1124px) {
  .learn-ring::before {
    width: 11rem;
    height: 4rem;
    top: 20px;
    left: -10px;
  }
}

.html-text-gradient {
  background: linear-gradient(to right, #cfcfcf 0%, #00000000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.preahvihear-regular {
  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gradiant-bubble::before,
.gradiant-bubble::after {
  content: " ";
  transform: rotate(-37.233deg);
  flex-shrink: 0;
  position: absolute;
  border-radius: 41% 59% 33% 67% / 54% 36% 64% 46%;
  background: rgba(129, 44, 238, 0.31);
  filter: blur(10rem);
  overflow: hidden;
}
.gradiant-bubble::before {
  top: 0px;
  left: -5rem;
  width: 20rem;
  height: 30rem;
  opacity: 80%;
}
.gradiant-bubble::after {
  bottom: 0px;
  right: 0px;
  width: 15rem;
  height: 15rem;
  opacity: 100%;
}
@media (min-width: 1124px) {
    .gradiant-bubble::before {
      top: 10px;
      left: 200px;
      width: 20rem;
      height: 30rem;
      opacity: 40%;
    }
    .gradiant-bubble::after {
      bottom: 10px;
      right: 200px;
      width: 10rem;
      height: 15rem;
      opacity: 60%;
    }

}
.custom-irregular-border-radius {
  border-radius: 30% 70% 51% 49% / 30% 70% 51% 49%;
  animation: change-radius 10s alternate infinite ease;
}

@keyframes change-radius {
  0% {
    border-radius: 30% 70% 51% 49% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 47% 53% 42% 58% / 68% 42% 58% 32%;
  }
  50% {
    border-radius: 79% 21% 47% 53% / 48% 64% 36% 52%;
  }
  75% {
    border-radius: 52% 48% 42% 58% / 35% 56% 44% 65%;
  }
  100% {
    border-radius: 65% 35% 62% 38% / 45% 56% 44% 55%;
  }
}

.profile-picture::before {
  content: " ";
  position: absolute;
  top: 0;
  margin: auto;
  transform: translateX(-12rem) rotate(90deg);
  width: 20rem;
  height: 20rem;
  background: url("/Arrow.png") no-repeat;
}
@media (min-width: 1124px) {
  .profile-picture::before {
    transform: unset;
    top: 42%;
    left: -10%;
    width: 20rem;
    height: 20rem;
  }
}
